In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Read csv file 
cdc_df = pd.read_csv('cdc.codes/cdc.csv')
full_data_2017 = pd.read_csv('cdc.codes/2017_code_data.csv')
full_data_2017
adult_data_2017 = pd.read_csv('cdc.codes/samadult.csv')
adult_data_2017

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,MBO_PRO1,YTQU_YG1,YTQ_BTY1,YTQ_MDY1,YTQU_TA1,YTQ_BTT1,YTQ_MDT1,YTQU_QG1,YTQ_BTQ1,YTQ_MDQ1
0,1,1,3,1,5829.3,5044,2,12,4,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
1,1,1,9,1,2752.4,3770,1,12,7,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
2,2,1,11,1,14902.0,17305,1,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
3,1,1,15,1,8531.8,7383,2,12,5,1,...,2,1,1.0,1.0,1,1.0,2.0,2,NaN,NaN
4,1,1,18,1,5477.2,8314,1,0,1,1,...,2,1,1.0,1.0,2,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26737,2,1,58880,4,7030.2,6082,2,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26738,1,1,58881,4,6261.6,5557,2,12,4,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26739,1,1,58882,4,7818.1,7603,2,12,1,2,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26740,1,1,58883,4,8691.9,7833,1,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26741,1,1,58884,4,8942.5,7937,2,12,1,1,...,1,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN

In [3]:
# Reorganize the columns
cdc_df = cdc_df[['Code', 'Description', 'Category']]
cdc_df

,Code,Description,Category
0,URBRRL,Geography (urban vs suburban vs rural),Demographics
1,REGION,"US Geographic Region (SE, NW)",Demographics
2,SEX_A,Sex,Demographics
3,HISP_A,Hispanic ethnicity,Demographics
4,HISPALLP_A,Hispanic and other ethnicity (mixed),Demographics
...,...,...,...
69,MODFREQW_A,moderate physical activity (Y/N) / frequency,Lifestyle / Chronic Disease Indicators
70,VIGFREQW_A,vigorous physical activity (Y/N) / frequency,Lifestyle / Chronic Disease Indicators
71,PA18_05R_A,met 2018 physical activity guidelines = 150+ m...,Lifestyle / Chronic Disease Indicators
72,SLPREST_A,"sleep quality (""over past 30 days, how often d...",Lifestyle / Chronic Disease Indicators
73,SLPFLL_A,"sleep quality (""over past 30 days, how often d...",Lifestyle / Chronic Disease Indicators

In [4]:
# Removing spaces in column names
adult_data_2017.columns = adult_data_2017.columns.to_series().apply(lambda x:x.strip())

In [6]:
# Selecting the columns we need and adding them to a dataframe
filtered_data_2017 = adult_data_2017 [["REGION", "SEX", "HISPAN_I","RACERPI2",
                              "R_MARITL", "HYPEV", "CHLEV", "CHDEV",
                              "EPHEV", "AASMEV", "CANEV", "DIBEV1",
                              "DIBTYPE", "EPILEP1", "ARTH1", "HRAIDNOW",
                              "AVISION", "AHSTATYR", "PAINLMT", "FLWALK",
                              "ALCHRONR", "SMKSTAT2", "MODFREQW", "ALCSTAT",
                              "AHCPLROU", "AWORPAY", "ADNLONG2", "AHCSYR1",
                              "AHERNOY2", "AHCHYR", "ASRGYR", "AMDLONGR",
                              "AEXCHNG", "ASICPUSE", "ASISIM", "ASISIF",
                              "ASISLPFL", "MBO_SPR1", "AWEBUSE", "AFLHCA17"]]
data_2017.head()

,REGION,SEX,HISPAN_I,RACERPI2,R_MARITL,HYPEV,CHLEV,CHDEV,EPHEV,AASMEV,...,ASRGYR,AMDLONGR,AEXCHNG,ASICPUSE,ASISIM,ASISIF,ASISLPFL,MBO_SPR1,AWEBUSE,AFLHCA17
0,3,2,12,1,4,1,1,2,2,2,...,2,2,NaN,4,NaN,2.0,0,2,1,NaN
1,2,1,12,1,7,2,2,2,2,2,...,2,2,2.0,4,2.0,NaN,6,2,1,NaN
2,2,1,12,1,1,2,2,2,2,1,...,2,1,2.0,3,2.0,NaN,7,2,1,2.0
3,2,2,12,1,5,2,2,2,2,2,...,2,1,NaN,4,NaN,2.0,0,1,1,NaN
4,3,1,0,1,1,2,2,2,2,1,...,2,2,2.0,4,2.0,NaN,0,1,1,NaN

In [8]:
filtered_data_2017 = filtered_data_2017.rename(columns = {"REGION" : "Geographic Region", "SEX" : "SEX",
                                                          "HISPAN_I" : "Hispanic Origin",
                                                          "RACERPI2" : "Race", "R_MARITL" : "Marital Status",
                                                          "HYPEV" : "Hypertension", "CHLEV" : "Cholesterol",
                                                          "CHDEV" : "Coronary Heart Disease", "EPHEV" : "emphysema",
                                                          "AASMEV" : "Asthma", "CANEV" : "Cancer",
                                                          "DIBEV1" : "Diabetes", "DIBTYPE" : "Diabetes Type",
                                                          "EPILEP1" : "Epilepsy", "ARTH1" : "Arthritis",
                                                          "HRAIDNOW" : "Usin a Hearing Aid",
                                                          "AVISION" : "Trouble seeing W/Glasses/Lenses",
                                                          "AHSTATYR" : "Health Status (Past 12m)",
                                                          "PAINLMT" : "Pain Severity (Past 6m)",
                                                          "FLWALK" : "Mobility/Ability to Walk Unaided",
                                                          "ALCHRONR" : "Overall Functional Limitation",
                                                          "SMKSTAT2" : "Smoking Status",
                                                          "MODFREQW" : "Moderate Activity/W",
                                                          "ALCSTAT" : "Alcohol Drinking Status",
                                                          "AHCPLROU" : "Usual Place for Routine/Preventive Care",
                                                          "AWORPAY" : "Medical Bills Pay Worry",
                                                          "ADNLONG2" : "Time Since Dentist's Last Visit",
                                                          "AHCSYR1" : "Seen/Talked With Mental Specialist (Past 12m)",
                                                          "AHERNOY2" : "ER/ED Freq. (Past 12m)",
                                                          "AHCHYR" : "Home Care Received (Past 12m)",
                                                          "ASRGYR" : "Surgery/Surgical Procedures (Past 12m)",
                                                          "AMDLONGR" : "Time Since Last Seen/Talked to a Health Pro",
                                                          "AEXCHNG" : "Looked into Buying Ins. through Healthcare.gov/Health Ins. MP",
                                                          "ASICPUSE" : "Computer Use Freq.", "ASISIM" : "Sexual Orientation (M)",
                                                          "ASISIF" : "Sexual Orientation (F)",
                                                          "ASISLPFL" : "Difficutly Falling Asleep (Past W)",
                                                          "MBO_SPR1" : "Used Spiritual Meditation (Past 12m)",
                                                          "AWEBUSE" : "Internet use",
                                                          "AFLHCA17" : "Difficulty with Daily Activity due to Dep/Anx"})
filtered_data_2017.head()

,Geographic Region,SEX,Hispanic Origin,Race,Marital Status,Hypertension,Cholesterol,Coronary Heart Disease,emphysema,Asthma,...,Surgery/Surgical Procedures (Past 12m),Time Since Last Seen/Talked to a Health Pro,Looked into Buying Ins. through Healthcare.gov/Health Ins. MP,Computer Use Freq.,Sexual Orientation (M),Sexual Orientation (F),Difficutly Falling Asleep (Past W),Used Spiritual Meditation (Past 12m),Internet use,Difficulty with Daily Activity due to Dep/Anx
0,3,2,12,1,4,1,1,2,2,2,...,2,2,NaN,4,NaN,2.0,0,2,1,NaN
1,2,1,12,1,7,2,2,2,2,2,...,2,2,2.0,4,2.0,NaN,6,2,1,NaN
2,2,1,12,1,1,2,2,2,2,1,...,2,1,2.0,3,2.0,NaN,7,2,1,2.0
3,2,2,12,1,5,2,2,2,2,2,...,2,1,NaN,4,NaN,2.0,0,1,1,NaN
4,3,1,0,1,1,2,2,2,2,1,...,2,2,2.0,4,2.0,NaN,0,1,1,NaN

In [15]:
# Checking for null values
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26742 entries, 0 to 26741
Data columns (total 64 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Geographic Region                                              26742 non-null  int64
 1   SEX                                                            26742 non-null  int64
 2   Hispanic Origin                                                26742 non-null  int64
 3   Race                                                           26742 non-null  int64
 4   Marital Status                                                 26742 non-null  int64
 5   Hypertension                                                   26742 non-null  int64
 6   Cholesterol                                                    26742 non-null  int64
 7   Coronary Heart Disease                                         26742 non-null  int64
 8   emphysema                                                      26742 non-null  int64
 9   Asthma                                                         26742 non-null  int64
 10  Cancer                                                         26742 non-null  int64
 11  Diabetes                                                       26742 non-null  int64
 12  Diabetes Type                                                  2812 non-null   float64
 13  Epilepsy                                                       26742 non-null  int64
 14  Arthritis                                                      26742 non-null  int64
 15  Pain Severity (Past 6m)                                        17721 non-null  float64
 16  Mobility/Ability to Walk Unaided                               26742 non-null  int64
 17  Difficulty with Daily Activity due to Dep/Anx                  11240 non-null  float64
 18  Overall Functional Limitation                                  26742 non-null  int64
 19  Smoking Status                                                 26742 non-null  int64
 20  Vigorous Activity/W                                            26742 non-null  int64
 21  Moderate Activity/W                                            26742 non-null  int64
 22  Strength Activity/W                                            26742 non-null  int64
 23  Alcohol Drinking Status                                        26742 non-null  int64
 24  Usual Place to Go When Sick                                    26742 non-null  int64
 25  Usual Place for Routine/Preventive Care                        23268 non-null  float64
 26  Trouble Finding a Dr./Provider (past 12m)                      26742 non-null  int64
 27  Weren't Accepted as a New Patient (Past 12m)                   26742 non-null  int64
 28  Insurance Wasn't Accepted (Past 12m)                           26742 non-null  int64
 29  Not Able to Reach Doctor's Office by Phone (Past 12m)          26742 non-null  int64
 30  Not able to get an Appointment Soon Enough(Past 12m)           26742 non-null  int64
 31  Office Waiting Time is Too Long (Past 12m)                     26742 non-null  int64
 32  Closed Office when Available (Past 12m)                        26742 non-null  int64
 33  Lack of Transportation to Doctor's Office (Past 12m)           26742 non-null  int64
 34  Unaffordable Prescription (Past 12m)                           26742 non-null  int64
 35  Unaffordable Mental Care/Counceling (Past 12m)                 26742 non-null  int64
 36  Medical Bills Pay Worry                                        26742 non-null  int64
 37  Rx Med by Dr./Health Professional (Past 12m)                   26742 non-null  int64
 38  Med Doses Skipped to Save Money (Past 12m)                     17875 non-null  float64
 39  Less Med Taken to Save Money (Past 12m)                        17875 non-null  float64
 40  Reill Rx Delayed to Save Money (Past 12m)                      17875 non-null  float64
 41  Time Since Dentist's Last Visit                                26742 non-null  int64
 42  Seen/Talked With Mental Specialist (Past 12m)                  26742 non-null  int64
 43  ER/ED Freq. (Past 12m)                                         26742 non-null  int64
 44  ER Visits due to Serious Problems                              5194 non-null   float64
 45  ER Visits to Get Help                                          5194 non-null   float64
 46  Home Care Received (Past 12m)                                  26742 non-null  int64
 47  Surgery/Surgical Procedures (Past 12m)                         26742 non-null  int64
 48  Time Since Last Seen/Talked to a Health Pro                    26742 non-null  int64
 49  Looked into Buying Ins. through Healthcare.gov/Health Ins. MP  19408 non-null  float64
 50  Computer Use Freq.                                             26742 non-null  int64
 51  Sexual Orientation (M)                                         12096 non-null  float64
 52  Sexual Orientation (F)                                         14646 non-null  float64
 53  Retirement Worry                                               26742 non-null  int64
 54  Accident/Illness Costs Worry                                   26742 non-null  int64
 55  Medical Healthcare Costs Worry                                 26742 non-null  int64
 56  Monthly Bills Pay Worry                                        26742 non-null  int64
 57  Rent/Mortgage Pay Worry                                        26742 non-null  int64
 58  Credit Care Pay Worry                                          26742 non-null  int64
 59  Difficutly Falling Asleep (Past W)                             26742 non-null  int64
 60  Used Mantra Meditation (Past 12m)                              26742 non-null  int64
 61  Used Mindefulness Meditation (Past 12m)                        26742 non-null  int64
 62  Used Spiritual Meditation (Past 12m)                           26742 non-null  int64
 63  Internet use                                                   26742 non-null  int64
dtypes: float64(12), int64(52)
memory usage: 13.1 MB