In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Read csv file 
cdc_df = pd.read_csv('cdc.codes/cdc.csv')
full_data_2017 = pd.read_csv('cdc.codes/2017_code_data.csv')
full_data_2017
adult_data_2017 = pd.read_csv('cdc.codes/samadult.csv')
adult_data_2017

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,MBO_PRO1,YTQU_YG1,YTQ_BTY1,YTQ_MDY1,YTQU_TA1,YTQ_BTT1,YTQ_MDT1,YTQU_QG1,YTQ_BTQ1,YTQ_MDQ1
0,1,1,3,1,5829.3,5044,2,12,4,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
1,1,1,9,1,2752.4,3770,1,12,7,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
2,2,1,11,1,14902.0,17305,1,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
3,1,1,15,1,8531.8,7383,2,12,5,1,...,2,1,1.0,1.0,1,1.0,2.0,2,NaN,NaN
4,1,1,18,1,5477.2,8314,1,0,1,1,...,2,1,1.0,1.0,2,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26737,2,1,58880,4,7030.2,6082,2,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26738,1,1,58881,4,6261.6,5557,2,12,4,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26739,1,1,58882,4,7818.1,7603,2,12,1,2,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26740,1,1,58883,4,8691.9,7833,1,12,1,1,...,2,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN
26741,1,1,58884,4,8942.5,7937,2,12,1,1,...,1,2,NaN,NaN,2,NaN,NaN,2,NaN,NaN

In [3]:
# Reorganize the columns
cdc_df = cdc_df[['Code', 'Description', 'Category']]
cdc_df

,Code,Description,Category
0,URBRRL,Geography (urban vs suburban vs rural),Demographics
1,REGION,"US Geographic Region (SE, NW)",Demographics
2,SEX_A,Sex,Demographics
3,HISP_A,Hispanic ethnicity,Demographics
4,HISPALLP_A,Hispanic and other ethnicity (mixed),Demographics
...,...,...,...
69,MODFREQW_A,moderate physical activity (Y/N) / frequency,Lifestyle / Chronic Disease Indicators
70,VIGFREQW_A,vigorous physical activity (Y/N) / frequency,Lifestyle / Chronic Disease Indicators
71,PA18_05R_A,met 2018 physical activity guidelines = 150+ m...,Lifestyle / Chronic Disease Indicators
72,SLPREST_A,"sleep quality (""over past 30 days, how often d...",Lifestyle / Chronic Disease Indicators
73,SLPFLL_A,"sleep quality (""over past 30 days, how often d...",Lifestyle / Chronic Disease Indicators

In [4]:
# Removing spaces in column names
adult_data_2017.columns = adult_data_2017.columns.to_series().apply(lambda x:x.strip())

In [5]:
# Selecting the columns we need and adding them to a dataframe
data_2017 = adult_data_2017 [["REGION", "SEX", "HISPAN_I","RACERPI2",
                              "R_MARITL", "HYPEV", "CHLEV", "CHDEV",
                              "EPHEV", "AASMEV", "CANEV", "DIBEV1",
                              "DIBTYPE", "EPILEP1", "ARTH1", "PAINLMT", "FLWALK",
                              "AFLHCA17", "ALCHRONR", "SMKSTAT2", "VIGFREQW", "MODFREQW",
                              "STRFREQW", "ALCSTAT", "AUSUALPL", "AHCPLROU", "APRVTRYR", "ADRNANP",
                              "ADRNAI", "AHCDLYR1", "AHCDLYR2",  "AHCDLYR3", "AHCDLYR4",
                              "AHCDLYR5", "AHCAFYR1", "AHCAFYR2", "AWORPAY", "ARX12MO", "ARX12_1",
                              "ARX12_2", "ARX12_3", "ADNLONG2", "AHCSYR1", "AHERNOY2",
                              "AERREA4R", "AERREA5R", "AHCHYR", "ASRGYR", "AMDLONGR",
                              "AEXCHNG", "ASICPUSE", "ASISIM", "ASISIF", "ASIRETR",
                              "ASIMEDC", "ASICNHC", "ASINBILL", "ASIHCST", "ASICCMP",
                              "ASISLPFL", "MBO_MAN1","MBO_MND1", "MBO_SPR1", "AWEBUSE"]]
data_2017.head()

,REGION,SEX,HISPAN_I,RACERPI2,R_MARITL,HYPEV,CHLEV,CHDEV,EPHEV,AASMEV,...,ASIMEDC,ASICNHC,ASINBILL,ASIHCST,ASICCMP,ASISLPFL,MBO_MAN1,MBO_MND1,MBO_SPR1,AWEBUSE
0,3,2,12,1,4,1,1,2,2,2,...,4,4,4,4,4,0,2,2,2,1
1,2,1,12,1,7,2,2,2,2,2,...,3,3,3,3,5,6,2,2,2,1
2,2,1,12,1,1,2,2,2,2,1,...,2,3,2,2,3,7,2,2,2,1
3,2,2,12,1,5,2,2,2,2,2,...,4,4,4,4,4,0,2,2,1,1
4,3,1,0,1,1,2,2,2,2,1,...,1,2,3,3,3,0,2,2,1,1

In [6]:
data_2017 = data_2017.rename(columns = {"REGION" : "Geographic Region", "SEX" : "SEX", "HISPAN_I" : "Hispanic Origin",
                            "RACERPI2" : "Race", "R_MARITL" : "Marital Status", "HYPEV" : "Hypertension",
                            "CHLEV" : "Cholesterol", "CHDEV" : "Coronary Heart Disease",
                            "EPHEV" : "emphysema", "AASMEV" : "Asthma", "CANEV" : "Cancer",
                            "DIBEV1" : "Diabetes", "DIBTYPE" : "Diabetes Type", "EPILEP1" : "Epilepsy",
                            "ARTH1" : "Arthritis", "PAINLMT" : "Pain Severity (Past 6m)",
                            "FLWALK" : "Mobility/Ability to Walk Unaided",
                            "AFLHCA17" : "Difficulty with Daily Activity due to Dep/Anx",
                            "ALCHRONR" : "Overall Functional Limitation", "SMKSTAT2" : "Smoking Status",
                            "VIGFREQW" : "Vigorous Activity/W", "MODFREQW" : "Moderate Activity/W",
                            "STRFREQW" : "Strength Activity/W", "ALCSTAT" : "Alcohol Drinking Status",
                            "AUSUALPL" : "Usual Place to Go When Sick",
                            "AHCPLROU" : "Usual Place for Routine/Preventive Care",
                            "APRVTRYR" : "Trouble Finding a Dr./Provider (past 12m)",
                            "ADRNANP" : "Weren't Accepted as a New Patient (Past 12m)",
                            "ADRNAI" : "Insurance Wasn't Accepted (Past 12m)",
                            "AHCDLYR1" : "Not Able to Reach Doctor's Office by Phone (Past 12m)",
                            "AHCDLYR2" : "Not able to get an Appointment Soon Enough(Past 12m)", 
                            "AHCDLYR3" : "Office Waiting Time is Too Long (Past 12m)",
                            "AHCDLYR4" : "Closed Office when Available (Past 12m)",
                            "AHCDLYR5" : "Lack of Transportation to Doctor's Office (Past 12m)",
                            "AHCAFYR1" : "Unaffordable Prescription (Past 12m)",
                            "AHCAFYR2" : "Unaffordable Mental Care/Counceling (Past 12m)",
                            "AWORPAY" : "Medical Bills Pay Worry",
                            "ARX12MO" : "Rx Med by Dr./Health Professional (Past 12m)",
                            "ARX12_1" : "Med Doses Skipped to Save Money (Past 12m)",
                            "ARX12_2" : "Less Med Taken to Save Money (Past 12m)",
                            "ARX12_3" : "Reill Rx Delayed to Save Money (Past 12m)",
                            "ADNLONG2" : "Time Since Dentist's Last Visit",
                            "AHCSYR1" : "Seen/Talked With Mental Specialist (Past 12m)",
                            "AHERNOY2" : "ER/ED Freq. (Past 12m)",
                            "AERREA4R" : "ER Visits due to Serious Problems",
                            "AERREA5R" : "ER Visits to Get Help", "AHCHYR" : "Home Care Received (Past 12m)",
                            "ASRGYR" : "Surgery/Surgical Procedures (Past 12m)",
                            "AMDLONGR" : "Time Since Last Seen/Talked to a Health Pro",
                            "AEXCHNG" : "Looked into Buying Ins. through Healthcare.gov/Health Ins. MP",
                            "ASICPUSE" : "Computer Use Freq.", "ASISIM" : "Sexual Orientation (M)",
                            "ASISIF" : "Sexual Orientation (F)", "ASIRETR" : "Retirement Worry",
                            "ASIMEDC" : "Accident/Illness Costs Worry",
                            "ASICNHC" : "Medical Healthcare Costs Worry", "ASINBILL" : "Monthly Bills Pay Worry",
                            "ASIHCST" : "Rent/Mortgage Pay Worry", "ASICCMP" : "Credit Care Pay Worry",
                            "ASISLPFL" : "Difficutly Falling Asleep (Past W)",
                            "MBO_MAN1" : "Used Mantra Meditation (Past 12m)",
                            "MBO_MND1" : "Used Mindefulness Meditation (Past 12m)",
                            "MBO_SPR1" : "Used Spiritual Meditation (Past 12m)", "AWEBUSE" : "Internet use"})
data_2017.head()

,REGION,SEX,HISPAN_I,RACERPI2,R_MARITL,HYPEV,CHLEV,CHDEV,EPHEV,AASMEV,...,ASIMEDC,ASICNHC,ASINBILL,ASIHCST,ASICCMP,ASISLPFL,MBO_MAN1,MBO_MND1,MBO_SPR1,AWEBUSE
0,3,2,12,1,4,1,1,2,2,2,...,4,4,4,4,4,0,2,2,2,1
1,2,1,12,1,7,2,2,2,2,2,...,3,3,3,3,5,6,2,2,2,1
2,2,1,12,1,1,2,2,2,2,1,...,2,3,2,2,3,7,2,2,2,1
3,2,2,12,1,5,2,2,2,2,2,...,4,4,4,4,4,0,2,2,1,1
4,3,1,0,1,1,2,2,2,2,1,...,1,2,3,3,3,0,2,2,1,1

In [65]:
# Checking for null values
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26742 entries, 0 to 26741
Data columns (total 64 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REGION    26742 non-null  int64
 1   SEX       26742 non-null  int64
 2   HISPAN_I  26742 non-null  int64
 3   RACERPI2  26742 non-null  int64
 4   R_MARITL  26742 non-null  int64
 5   HYPEV     26742 non-null  int64
 6   CHLEV     26742 non-null  int64
 7   CHDEV     26742 non-null  int64
 8   EPHEV     26742 non-null  int64
 9   AASMEV    26742 non-null  int64
 10  CANEV     26742 non-null  int64
 11  DIBEV1    26742 non-null  int64
 12  DIBTYPE   2812 non-null   float64
 13  EPILEP1   26742 non-null  int64
 14  ARTH1     26742 non-null  int64
 15  PAINLMT   17721 non-null  float64
 16  FLWALK    26742 non-null  int64
 17  AFLHCA17  11240 non-null  float64
 18  ALCHRONR  26742 non-null  int64
 19  SMKSTAT2  26742 non-null  int64
 20  VIGFREQW  26742 non-null  int64
 21  MODFREQW  26742 non-null  int64
 22  STRFREQW  26742 non-null  int64
 23  ALCSTAT   26742 non-null  int64
 24  AUSUALPL  26742 non-null  int64
 25  AHCPLROU  23268 non-null  float64
 26  APRVTRYR  26742 non-null  int64
 27  ADRNANP   26742 non-null  int64
 28  ADRNAI    26742 non-null  int64
 29  AHCDLYR1  26742 non-null  int64
 30  AHCDLYR2  26742 non-null  int64
 31  AHCDLYR3  26742 non-null  int64
 32  AHCDLYR4  26742 non-null  int64
 33  AHCDLYR5  26742 non-null  int64
 34  AHCAFYR1  26742 non-null  int64
 35  AHCAFYR2  26742 non-null  int64
 36  AWORPAY   26742 non-null  int64
 37  ARX12MO   26742 non-null  int64
 38  ARX12_1   17875 non-null  float64
 39  ARX12_2   17875 non-null  float64
 40  ARX12_3   17875 non-null  float64
 41  ADNLONG2  26742 non-null  int64
 42  AHCSYR1   26742 non-null  int64
 43  AHERNOY2  26742 non-null  int64
 44  AERREA4R  5194 non-null   float64
 45  AERREA5R  5194 non-null   float64
 46  AHCHYR    26742 non-null  int64
 47  ASRGYR    26742 non-null  int64
 48  AMDLONGR  26742 non-null  int64
 49  AEXCHNG   19408 non-null  float64
 50  ASICPUSE  26742 non-null  int64
 51  ASISIM    12096 non-null  float64
 52  ASISIF    14646 non-null  float64
 53  ASIRETR   26742 non-null  int64
 54  ASIMEDC   26742 non-null  int64
 55  ASICNHC   26742 non-null  int64
 56  ASINBILL  26742 non-null  int64
 57  ASIHCST   26742 non-null  int64
 58  ASICCMP   26742 non-null  int64
 59  ASISLPFL  26742 non-null  int64
 60  MBO_MAN1  26742 non-null  int64
 61  MBO_MND1  26742 non-null  int64
 62  MBO_SPR1  26742 non-null  int64
 63  AWEBUSE   26742 non-null  int64
dtypes: float64(12), int64(52)
memory usage: 13.1 MB