In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
import os

In [2]:
cdc_2017df = pd.read_csv('cdc_code_2017.csv')
cdc_2017df

   2017 Code                                        Description
0     REGION                   Geographic region (SW, NE, etc.)
1        SEX                                                sex
2   HISPAN_I          Hispanic (country of origin / background)
3   RACERPI2                               Race (excl., Latino)
4   R_MARITL                                     marital status
..       ...                                                ...
59  ASISLPFL  # times having difficulty falling asleep in pa...
60  MBO_MAN1                   used mantra meditation, past 12m
61  MBO_MND1              used mindfulness meditation, past 12m
62  MBO_SPR1                used spiritual meditation, past 12m
63   AWEBUSE                                       internet use

[64 rows x 2 columns]