In [6]:
import pandas as pd
from pathlib import Path
import numpy as np
import os

In [9]:
cdc_2018df = pd.read_csv('adult_sample_code_2018.csv')
cdc_2018df

         Code                                 Description
0     RECTYPE                      "File type identifier"
1     SRVY_YR  "Year of National Health Interview Survey"
2         HHX                          "Household Number"
3    INTV_QRT                         "Interview Quarter"
4    INTV_MON                "Assignment/Interview Month"
..        ...                                         ...
737  AWEBOFNO        "Frequency internet use: # of units"
738  AWEBOFTP        "Frequency internet use: Time units"
739   AWEBEML                                 "Email use"
740   AWEBMNO           "Frequency email use: # of units"
741   AWEBMTP           "Frequency email use: Time units"

[742 rows x 2 columns]